/* 

Sistema de Tamanhos - https://typescale.com/ 

Fontes - Minor Third - 1.200 - Em PX
4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 82.6

Espaçamentos - Major Third - 1.250 - Em PX
2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2

*/

@import url('assets/css/global.css');
@import url('assets/css/variable.css');

/* Cabeçalho */
.cabecalho {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Temporariamente */
nav {
  display: none;
}

.item-lista-cabecalho a {
  color: var(--azul-marinho-escuro);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: var(--laranja);
}

.item-lista-cabecalho.contem-filhos::after {
  content: "\2bc6";
}

/* Seção Hero */
.secao-hero {
  background-image: url('https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-botoes {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.hero-botao {
  background-image: var(--gradient-botao);
  border-bottom: solid 0.4rem var(--castanho-dourado);
  border-right: solid 0.4rem var(--castanho-dourado);
  text-align: center;
  margin-top: 1.2rem;
}

.hero-botao:hover {
  background-image: none;
  background-color: #ff9253;
  border-bottom: #ff9253;
  border-right: #ff9253;
}

.hero-paragrafo {
  font-size: 1.9rem;
}

.iframe-video {
  aspect-ratio: 16/9;
  width: 44rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
}

/* Seção Conteúdos Gratuitos */

.gratuito-realce {
  color: var(--roxo);
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 1.9rem;
}

/* Seção Diferenciais */

.diferenciais-p {
  font-size: 1.9rem;
}

.diferenciais-h3 {
  color: var(--azul-petroleo-escuro);
  font-size: 2.4rem;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: var(--azul-petroleo-escuro);
  font-weight: 700;
}

/* Seção O que falam */

/* Seção Blog */

.blog-postadoem {
  font-size: 1.5rem;
}

.blog-postadoem a {
  font-weight: 600;
  color: var(--amarelo-ouro);;
}

.blog-titulopost {
  font-size: 2.4rem;
  font-weight: 600;
}

.blog-descricaopost {
  font-size: 1.7rem;
}

/* Seção Como ajudar */

.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: var(--azul-vibrante);
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: var(--azul-intermediario);
}
