/* Global */

* {
  list-style: none;
  text-decoration:none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

.iframe-video {
  border-radius: 1.5625rem;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

.button {
  font-size: 24px;
  font-weight: 700;
}

.highlight-semibold {
  font-weight: 600;
}

/* Cabeçalho */

.header-nav-item a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Seção Hero */

.hero-paragraph {
  font-size: 19px;
}

/* Seção Conteúdos Gratuitos */
/* 
.gratuito-h2 {
  font-weight: 400;
  font-size: 35px;
} */

.free-highlight {
  color: #7a40be;
  font-weight: 600;
}

.free-subheading {
  font-size: 23px;
  font-weight: 700;
}

.free-link-list {
  font-size: 19px;
}

/* Seção Diferenciais */

/* .diferenciais-h2 {
  font-size: 35px;
  font-weight: 400;
} */

/* .diferenciais-h2 strong {
  font-weight: 600;
} */

.differential-paragraph {
  font-size: 19px;
}

.differential-subheading {
  color: #005e88;
  font-size: 24px;
  font-weight: 600;
}

.differential-business-heading {
  font-size: 35px;
  font-weight: 400;
}

.differential-business-heading a {
  color: #005e88;
  font-weight: 700;
}

/* Seção O que falam */

/* .oquefalam-realce {
  font-weight: 600;
} */

/* Seção Blog */

.blog-posted-on {
  font-size: 15px;
}

.blog-posted-on a {
  font-weight: 600;
  color: #f7a70c;
}

.blog-post-title {
  font-size: 24px;
  font-weight: 600;
}

.blog-post-description {
  font-size: 17px;
}

/* Seção Como ajudar */

/* .comoajudar-realce {
  font-weight: 600;
} */

.help-list,
.help-paragraph {
  font-size: 19px;
}

.help-list a,
.help-paragraph a {
  color: #008ff7;
  font-weight: 600;
}

.help-paragraph b {
  font-weight: 600;
}

/* Rodapé */

.footer-title {
  font-weight: 600;
  font-size: 22px;
}

.footer-subtitle {
  font-size: 20px;
  font-weight: 500;
}

.footer-secondary-subtitle {
  font-weight: 500;
  font-size: 18px;
}

.footer-link {
  color: #1a77a4;
}

.container-icons {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  border-radius: 50%;
}

.container-icons img {
  width: 2.5rem;
  border-radius: 50%;

}

.course-boxes {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.course-package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dededeb9;
  border-radius: 1.25rem;
  width: 17rem;
  padding: 1.25rem;
  margin: 1.25rem 0;
}