* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--cinza-escuro);
    background-color: var(--cinza-suave);
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

p {
    font-size: 1.6rem;
}

strong {
    font-weight: 600;
}

.secao {
    padding: 7.63rem 2rem;
}

.container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    max-width: 100rem;
    margin: 0 auto;
}

.botao {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 3rem;
    padding: 0.82rem 2.5rem;
    color: white;
}

.realce-semibold {
    font-weight: 600;
}

