:root {
    /* Tons Neutros e Escuros */
    --preto: #000000;
    --cinza-escuro: #404040;
    --cinza-medio: #808080;
    --cinza-azulado-medio: #7489AF;
    --cinza-azulado-claro: #86A8BC;

    /* Tons Neutros Claros / Fundos */
    --cinza-claro: #E7E7E7;
    --cinza-muito-claro: #EEEEEE;
    --cinza-suave: #F4F5F7;
    --cinza-gelo: #F9F9F9;
    --branco: #FFFFFF;

    /* Tons de Azul */
    --azul-marinho-escuro: #112E61;
    --azul-petroleo-escuro: #005E88;
    --azul-petroleo: #14577F;
    --azul-intermediario: #1A77A4;
    --azul-vibrante: #008FF7;
    --azul-hiperlink: #0000EE;

    /* Tons Amarelos, Laranjas e Castanhos */
    --castanho-dourado: #926100;
    --amarelo-ouro: #F7A70C;
    --amarelo-amber: #FFAC00;
    --amarelo-vibrante: #FFAF00;
    --amarelo-claro: #FFBA29;
    --laranja: #f60;

    /* Tons Roxos */
    --roxo: #7A40BE;

    /* Gradientes */
    --gradient-botao: background-image: linear-gradient(rgb(255, 100, 94), rgb(255, 146, 83));
    --gradient-gratuitos: background-image: linear-gradient(90deg, rgb(170, 86, 230), rgb(109, 66, 185))
}